@import url("https://fonts.googleapis.com/css?family=Electrolize|Metal+Mania|Monoton|Play|Exo+2|Italianno|Nixie+One|New+Rocker|Lobster|Wendy+One|Montserrat");

body {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
}

.App {
  height: 100vh;
  width: 100%;
}

.buttonsDiv {
}

.buttons.head {
  top: 10px;
  margin: 5px;
  font-size: 0.8em;
}

.buttons.login {
  top: -5px;
  margin: 5px;
}

.buttons {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  transition: background 0.3s ease-out;
  border: none;
}

.buttons:hover {
  color: rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.6);
}

.backgroundImage {
  background: url("https://files.slack.com/files-pri/T6RE0MQD7-FD6BF2831/login.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 5%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.sidebar button {
  width: 200px;
  background: none;
  border: none;

  font-size: 1.1em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.sidebar {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  background: url("https://files.slack.com/files-pri/T6RE0MQD7-FD54LAH28/login_without_mic.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 60% 30%;
  height: 500px;
  position: relative;
}

.header > .inputfield {
  position: absolute;
  width: 40%;
  bottom: 10px;
  right: 30px;
}

.genres {
  position: absolute;
  right: 0;
  width: 50%;
  height: 450px;
}

.header span {
  position: absolute;
  cursor: pointer;
  transition: text-shadow 0.2s ease-out, color;
}

#electro {
  top: 80px;
  left: 40px;
  font-size: 3em;
  transform: rotate(15deg);
  font-family: "Electrolize", sans-serif;
}

#electro:hover {
  text-shadow: 0 0 10px rgb(105, 41, 87), 0 0 20px rgb(105, 41, 87),
    0 0 20px rgb(105, 41, 87);
  color: rgba(255, 255, 255, 0.3);
}

#electroClicked {
  top: 80px;
  left: 40px;
  font-size: 3em;
  transform: rotate(15deg);
  font-family: "Electrolize", sans-serif;
  text-shadow: 0 0 10px rgb(105, 41, 87), 0 0 20px rgb(105, 41, 87),
    0 0 20px rgb(105, 41, 87);
  color: rgba(255, 255, 255, 0.3);
}

#pop {
  top: 170px;
  left: 0px;
  font-size: 2em;
  transform: rotate(-15deg);
  font-family: "Nixie One", cursive;
}

#pop:hover {
  text-shadow: 0 0 10px rgb(102, 173, 81), 0 0 20px rgb(102, 173, 81),
    0 0 20px rgb(102, 173, 81), 0 0 20px rgb(102, 173, 81);
  color: rgba(255, 255, 255, 0.8);
}

#popClicked {
  top: 170px;
  left: 0px;
  font-size: 2em;
  transform: rotate(-15deg);
  font-family: "Nixie One", cursive;
  text-shadow: 0 0 10px rgb(102, 173, 81), 0 0 20px rgb(102, 173, 81),
    0 0 20px rgb(102, 173, 81), 0 0 20px rgb(102, 173, 81);
  color: rgba(255, 255, 255, 0.8);
}

#jazz {
  top: 200px;
  left: 190px;
  font-size: 1.8em;

  transform: rotate(-15deg);
  font-family: "Exo 2", sans-serif;
}

#jazz:hover {
  text-shadow: 0 0 10px rgb(164, 93, 93), 0 0 10px rgb(164, 93, 93),
    0 0 20px rgb(164, 93, 93), 0 0 20px rgb(164, 93, 93);
  color: rgba(255, 255, 255, 0.8);
}

#jazzClicked {
  top: 200px;
  left: 190px;
  font-size: 1.8em;

  transform: rotate(-15deg);
  font-family: "Exo 2", sans-serif;
  text-shadow: 0 0 10px rgb(164, 93, 93), 0 0 10px rgb(164, 93, 93),
    0 0 20px rgb(164, 93, 93), 0 0 20px rgb(164, 93, 93);
  color: rgba(255, 255, 255, 0.8);
}

#blues {
  top: 280px;
  left: 90px;
  font-size: 2em;

  transform: rotate(10deg);
  font-family: "Wendy One", sans-serif;
}

#blues:hover {
  text-shadow: 0 0 10px rgb(70, 68, 161), 0 0 20px rgb(70, 68, 161),
    0 0 20px rgb(70, 68, 161);
  color: rgba(255, 255, 255, 0.8);
}

#bluesClicked {
  top: 280px;
  left: 90px;
  font-size: 2em;

  transform: rotate(10deg);
  font-family: "Wendy One", sans-serif;
  text-shadow: 0 0 10px rgb(70, 68, 161), 0 0 20px rgb(70, 68, 161),
    0 0 20px rgb(70, 68, 161);
  color: rgba(255, 255, 255, 0.8);
}

#hiphop {
  top: 330px;
  left: 240px;
  font-size: 1.6em;
  transform: rotate(-10deg);
  font-family: "Lobster", cursive;
}

#hiphop:hover {
  text-shadow: 0 0 10px rgb(70, 139, 255), 0 0 20px rgb(70, 139, 255),
    0 0 20px rgb(70, 139, 255);
  color: rgba(255, 255, 255, 0.8);
}

#hiphopClicked {
  top: 330px;
  left: 240px;
  font-size: 1.6em;
  transform: rotate(-10deg);
  font-family: "Lobster", cursive;
  text-shadow: 0 0 10px rgb(70, 139, 255), 0 0 20px rgb(70, 139, 255),
    0 0 20px rgb(70, 139, 255);
  color: rgba(255, 255, 255, 0.8);
}

#classical {
  top: 50px;
  left: 250px;
  font-size: 1.7em;
  transform: rotate(-20deg);
}
#classical:hover {
  text-shadow: 0 0 10px rgb(205, 124, 99), 0 0 20px rgb(205, 124, 99),
    0 0 20px rgb(205, 124, 99);
  color: rgba(255, 255, 255, 0.8);
}

#classicalClicked {
  top: 50px;
  left: 250px;
  font-size: 1.7em;
  transform: rotate(-20deg);
  text-shadow: 0 0 10px rgb(205, 124, 99), 0 0 20px rgb(205, 124, 99),
    0 0 20px rgb(205, 124, 99);
  color: rgba(255, 255, 255, 0.8);
}

#country {
  top: 140px;
  left: 320px;
  font-size: 2.3em;
  transform: rotate(15deg);
  font-family: "Italianno", cursive;
}

#country:hover {
  text-shadow: 0 0 10px rgb(198, 60, 60), 0 0 20px rgb(198, 60, 60),
    0 0 20px rgb(133, 96, 70), 0 0 20px rgb(133, 96, 70),
    0 0 20px rgb(133, 96, 70), 0 0 20px rgb(133, 96, 70);
  color: rgba(255, 255, 255, 0.9);
}

#countryClicked {
  top: 140px;
  left: 320px;
  font-size: 2.3em;
  transform: rotate(15deg);
  font-family: "Italianno", cursive;
  text-shadow: 0 0 10px rgb(198, 60, 60), 0 0 20px rgb(198, 60, 60),
    0 0 20px rgb(133, 96, 70), 0 0 20px rgb(133, 96, 70),
    0 0 20px rgb(133, 96, 70), 0 0 20px rgb(133, 96, 70);
  color: rgba(255, 255, 255, 0.9);
}

#metal {
  left: 400px;
  top: 250px;
  font-size: 2em;
  transform: rotate(-15deg);
  font-family: "Metal Mania", cursive;
}

#metal:hover {
  text-shadow: 0 0 10px rgb(198, 60, 60), 0 0 20px rgb(198, 60, 60),
    0 0 20px rgb(198, 60, 60);
  color: rgba(255, 255, 255, 0.8);
}

#metalClicked {
  left: 400px;
  top: 250px;
  font-size: 2em;
  transform: rotate(-15deg);
  font-family: "Metal Mania", cursive;
  text-shadow: 0 0 10px rgb(198, 60, 60), 0 0 20px rgb(198, 60, 60),
    0 0 20px rgb(198, 60, 60);
  color: rgba(255, 255, 255, 0.8);
}

#rock {
  left: 420px;
  top: 80px;
  font-size: 1.6em;
  transform: rotate(15deg);
  font-family: "New Rocker", cursive;
}

#rock:hover {
  text-shadow: 0 0 10px rgb(27, 23, 23), 0 0 20px rgb(27, 23, 23),
    0 0 20px rgb(27, 23, 23);
  color: rgba(255, 255, 255, 0.8);
}

#rockClicked {
  left: 420px;
  top: 80px;
  font-size: 1.6em;
  transform: rotate(15deg);
  font-family: "New Rocker", cursive;
  text-shadow: 0 0 10px rgb(27, 23, 23), 0 0 20px rgb(27, 23, 23),
    0 0 20px rgb(27, 23, 23);
  color: rgba(255, 255, 255, 0.8);
}

.userImg {
  position: absolute;
  right: 45px;
  border-radius: 100%;
  width: 70px;
  top: 20px;
}

.clip {
  width: 100px;
  height: 100px;
  -webkit-clip-path: polygon(0 35%, 50% 100%, 100% 100%);
  clip-path: polygon(0 35%, 50% 100%, 100% 100%);
  background: white;
  position: absolute;
  bottom: 60px;
  left: -50px;
}

.header > div input {
  padding: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 1.2em;
}

input:focus {
  outline: none;
  border: none;
}

.sidebarHeader {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.user {
  display: flex;
  margin-right: 40px;
  margin-top: 5px;
  cursor: pointer;
}

#username {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
}

.user button {
  border: none;
  background: none;
  color: #a5474b;
  font-size: 1em;
  cursor: pointer;
}

#createList {
  position: absolute;
  font-size: 1em;
  background: none;
  border: none;
  left: 40px;
  top: 0px;
  cursor: pointer;
  padding: 8px;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease-out, background;
}

#createList:hover {
  color: rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.3);
}

.styleTransition {
  position: absolute;
  top: 30px;
  padding-top: 30px;
  width: 100%;
  z-index: 1;
  transition: height 0.3s linear, opacity 0.3s linear;
  background: #bbbac2;
  display: flex;
  justify-content: center;
}

.saveDiv {
  position: relative;
  top: 70px;
  cursor: pointer;
}

.inputDivs {
  position: relative;
}

.inputDivs span {
  position: absolute;
  right: 30px;
  top: 0;
  color: red;
}

#added {
  color: rgb(41, 191, 47);
}

#nameX::after {
  position: relative;
  left: 20px;
  content: "To many letters";
}

#spotifyX::after {
  position: relative;
  left: 20px;
  content: "Uncorrect Spotify url";
}

.saveDiv span {
  margin: 0;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  position: absolute;
  bottom: -20px;
}
.saveDiv img {
}

.styleTransition div {
  text-align: center;
}

.styleTransition ul {
  display: block;
  padding: 0;
  margin: 0;
}

.styleTransition li {
  list-style: none;

  float: right;
  cursor: pointer;
  margin: 20px;
}
.styleTransition input {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  border: 0;
  margin: auto;
  text-align: center;
  font-size: 1em;
  width: 500px;
  display: block;
  margin-bottom: 10px;
}

.styleTransition input:focus {
  font-size: 0.8em;
}
#rockUnderline {
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

#metalUnderline {
  border-bottom: 4px solid rgba(198, 60, 60, 0.3);
}
#countryUnderline {
  border-bottom: 4px solid rgb(133, 96, 70);
}

#jazzUnderline {
  border-bottom: 4px solid rgba(164, 93, 93, 0.3);
}

#bluesUnderline {
  border-bottom: 4px solid rgba(70, 68, 161, 0.3);
}

#classicalUnderline {
  border-bottom: 4px solid rgba(205, 124, 99, 0.3);
}

#electroUnderline {
  border-bottom: 4px solid rgba(105, 41, 870, 0.3);
}

#hiphopUnderline {
  border-bottom: 4px solid rgba(70, 139, 255, 0.3);
}

#popUnderline {
  border-bottom: 4px solid rgba(102, 173, 81, 0.3);
}

.onClick {
  color: rgba(255, 255, 255, 0.9);
}

/*
************************
ShowPlaylists
************************/

.listBackground {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 100px;
}

.listDiv {
  position: relative;
  width: 200px;
  margin: 20px;
  height: 40px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat", sans-serif;
}

.listDiv > div {
  position: absolute;
  left: 0;
  right: 0;
  height: 7px;
  top: 18px;
}

.listDiv > h3 {
  z-index: 1;
  margin: 0;
  cursor: pointer;
  text-align: center;
  position: relative;
  transition: transform 0.2s ease-out;
}

.listDiv > h3:hover {
  transform: scale(1.1);
}

.listDiv ul {
  margin-top: 5px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.listDiv li {
  font-size: 0.7em;
  list-style: none;
}

.listDiv li:nth-child(even),
.listDiv li:nth-child(3) {
  margin-left: 5px;
}

/*
************************
Popup
************************/

.popup {
  /* position: fixed; */
  /* background-color: black; */
  /* margin: auto; */
  /* z-index: 10; */
  /* background-color: black; */
}

.popup_inner {
  /* background: url("https://files.slack.com/files-pri/T6RE0MQD7-FD59W66LA/login_without_boy.jpg"); */
  z-index: 10;
  background-color: #bbbac2;
  text-align: center;
  /* background-size: 80% 90%; */
  position: absolute;
  /* width: 100%;
  height: 100%; */
  left: 0;
  right: 0;
  top: 0px;
  height: 520px;
  /* padding:20px; */
  /* bottom: 0; */
  /* margin: auto; */
  /* color: white; */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
  display: flex;
  border-top: 30px solid #333333;
  flex-direction: column;
}

.close {
  position: absolute;
  right: 40px;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  top: -25px;
  cursor: pointer;
}

.update {
  position: absolute;
  /* right: 40px;
  bottom: 10px; */
  text-shadow: -1px -2px 3px black;
  top: -1.2em;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1em;
  width: 100px;
}
.update:hover {
  background-color: rgba(255, 255, 255, 0.6);
  text-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}

.update:active {
  box-shadow: none;
}

#closebtn {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  background: red;
}

#closebtn {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
  width: 100%;

  background: rgba(66, 66, 66, 1);
}

.updateClose {
  cursor: pointer;
}

.updateClose div {
  display: flex;
  justify-content: center;
}

.updateClose button {
  padding: 10px;
  background: #333333;
  border: none;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.6);
}


/* .popup_inner div {

  display: flex;
  flex-direction: column;
}  */



.popup_inner ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: auto;
  padding: 0;
}

.popup_inner h4 {
  margin: 10px;
  font-weight: 600;
}

.editDescription {
  margin-bottom: 10px;
}
.popup_inner li {
  margin: 10px;
  cursor: pointer;
}

/* .playListInformation {
  margin-bottom: -5px;
  text-align: center;
} */

/* ul {
  margin-top: -5px;
} */

.informationPlayList {
  /* position: fixed; */
  background: #bbbac2;
  /* display: block; */
  /* background-size: 90% 80%; */
  /* border: 2px solid black; */
  /* width:80%;
  height: 90%;
  top:36px;
  left:152px;
  transform: translate(0%, 0%); */
}
.container {
  /* border: 2px solid red; */
  text-align: center;
  display: flex;
  flex-direction: column;

}
.closeBtn {
  z-index: 10;
  position: fixed;
  left: 53%;
  top: 650px;
  transform: translate(-70%, -50%);
}

.soloCloseBtn {
  z-index: 10;
  position: fixed;
  left: 51%;
  top: 650px;
  transform: translate(-70%, -50%);
}

.updateBtn {
  z-index: 10;

  transform: translate(-70%, -50%);
}

.playListTitle {
  font-size: 3em;
  position: relative;
  text-align: center;
  top: -20px;
  margin-bottom: -35px;
}

.playListInformationGenre {
  top: 1em;
  text-align: center;
  font-size: 18px;
  position: relative;
}




.playListInformationName {
  text-align: center;
  font-size: 18px;
}
.playListInformationSpotify {

  text-align: center;
  font-size: 18px;
  top: -3em;
  position: relative;
}

.playListInformationCreatedBy {
  top: -0.5em;
  position: relative;
  text-align: center;
  font-size: 18px;
}

.playListInformationDesc {
  text-align: center;
  font-size: 18px;
  top: -1.5em;
  position: relative;
}

.playListInformationName{
  text-align: center;
  font-size: 18px;
  display: inline-block;
  margin: 10px;
  font-weight: 600;
}

.errorMsg{
  /* right: 28%; */
  color: red;
  display: inline-block;
  /* top: 44%;
  position: absolute; */
}

.messageDiv{
  display: inline;
  /* justify-content: space-between; */ 
}


.spotifyLink {
  padding: 10px;
  width: 200px;
  background: #333333;
  color: rgba(255, 255, 255, 0.7);
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0px;
  text-decoration: none;
  transition: background 0.4s ease-out, color;
}

.spotifyLink:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
}

.spotifyLink:active {
  box-shadow: none;
}

.playListUserName {
  display: block;
  text-align: center;
  top: -20px;
  position: relative;
}

.editInformation {
  display: block;
  text-align: center;
}

.editPlayList {
  display: block;
  text-align: center;
  margin-top: -10px;
}

.editDescription {
  display: block;
  text-align: center;
  position: relative;
  top: -2.5em;
}

.editUrl {
  display: block;
  text-align: center;
  position: relative;
  top: -4em;
}

.editGenres {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.editPlayListName {
  /* position: absolute; */
  display: inline;
  cursor: pointer;
}

.hidePlayListName {
  /* position: absolute; */
  display: none;
}

.tableDiv {
  display: table;
  margin: 0 auto;
}
[contenteditable] {
  cursor: pointer;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}

.genreInfo {
  margin-right: 10px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
  position: relative;
  top: 15px;
}

.editName,
.editGenre,
.editDescription,
.editUrl {
  text-align: center;
}

.popupMenu {
  position: absolute;
  right: 10px;
  bottom: -20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0;
  margin: 0;
}

.popupMenu li {
  margin: 0;
  border: none;
  box-sizing: border-box;
  position: relative;
}

.popupMenu button {
  cursor: pointer;

  padding: 10px;
  font-size: 1em;
  background: #333333;
  position: relative;
  display: inline-block;
  float: none;
  margin: 0;
  border: none;
}

#delete {
  margin-right: 0.5em;
  color: #a5474b;
  transition: color 0.3s ease-out, border 0.3s ease-out;
}

#delete:hover {
  border-top: 4px solid rgba(255, 255, 255);
}

#update {
  transition: color 0.3s ease-out, border 0.3s ease-out;
}

#update:hover {
  border-top: 4px solid rgba(255, 255, 255);
}

#close {
  position: absolute;
  font-size: 1em;
  background: none;
  border: none;
  left: 40px;
  top: -30px;
  cursor: pointer;
  padding: 6px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: color 0.3s ease-out,
}

#close:hover {
  color: rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.3);
}


.playListInfoDiv{
  top:-20px;
  position: relative;
}

.playListInfoDivNonUser{
  top:15px;
  position: relative;
  
}
label > input[type="radio"] {
  /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
  height: 80px;
  width: 80px;
}
label > input:checked + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #f00;

}
